---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: compress
  namespace: apps
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  compress:
    excludedContentTypes:
      - text/event-stream
