---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: secure-headers
  namespace: traefik
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  headers:
    accessControlAllowMethods:
      - GET
      - POST
      - PUT
      - PATCH
      - DELETE
      - OPTIONS
      - HEAD
    accessControlMaxAge: 100
    hostsProxyHeaders:
      - X-Forwarded-Host
    stsSeconds: 63072000
    stsIncludeSubdomains: true
    stsPreload: true
    forceSTSHeader: true
    customFrameOptionsValue: SAMEORIGIN
    contentTypeNosniff: true
    browserXssFilter: true
    referrerPolicy: same-origin
    permissionsPolicy: "camera=(), microphone=(), geolocation=(), payment=(), usb=()"
    customResponseHeaders:
      X-Robots-Tag: "none,noindex,nofollow,noarchive,nosnippet,notranslate,noimageindex"
      server: ""
    customRequestHeaders:
      X-Forwarded-Proto: "https"
