---
apiVersion: tailscale.com/v1alpha1
kind: ProxyClass
metadata:
  name: tailscale-ingress
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  statefulSet:
    pod:
      nodeSelector:
        tailscale-proxy: "true"
