---
common_packages:
  - curl
  - wget
  - vim
  - htop
  - git
  - jq
  - unzip
  - ca-certificates
  - gnupg
  - kmod

# SSH hardening
ssh_disable_password_auth: false
ssh_disable_root_password_login: false
