---
galaxy_info:
  role_name: firewall
  author: infra-k3s
  description: Configure UFW or firewalld with K3s and Tailscale rules
  min_ansible_version: "2.14"
  platforms:
    - name: Debian
      versions:
        - bullseye
        - bookworm
        - trixie
    - name: Ubuntu
      versions:
        - focal
        - jammy
        - noble
    - name: EL
      versions:
        - "8"
        - "9"

dependencies: []
