---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ git_repo_url }}
    targetRevision: HEAD
    path: helm/apps
    helm:
      parameters:
        - name: domain
          value: {{ domain }}
        - name: publicDomain
          value: {{ public_domain }}
        - name: pgadmin.email
          value: {{ lookup('env', 'PGADMIN_EMAIL') | default('admin@example.com', true) }}
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
