---
# Custom Traefik installation with Gateway API support
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

resources:
  - namespace.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml
