---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: traefik
spec:
  type: LoadBalancer
  selector:
    app: traefik
  ports:
    - name: web
      port: 80
      targetPort: web
    - name: websecure
      port: 443
      targetPort: websecure
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-internal
  namespace: traefik
spec:
  type: ClusterIP
  selector:
    app: traefik
  ports:
    - name: dashboard
      port: 8080
      targetPort: dashboard
    - name: ping
      port: 8082
      targetPort: ping
    - name: metrics
      port: 9090
      targetPort: metrics
