---
# ArgoCD role defaults
argocd_namespace: argocd
argocd_version: ""
git_repo_url: "{{ lookup('env', 'GIT_REPO_URL') | default(lookup('pipe', 'git remote get-url origin'), true) }}"
domain: "{{ lookup('env', 'DOMAIN') | default('example.com', true) }}"
public_domain: "{{ lookup('env', 'PUBLIC_DOMAIN') | default(lookup('env', 'DOMAIN') | default('example.com', true), true) }}"
