---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubewall
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: ghcr.io/kubewall/charts
    chart: kubewall
    targetRevision: 0.0.15
    helm:
      releaseName: kubewall
      values: |
        service:
          type: ClusterIP
          port: 8443

        resources:
          requests:
            memory: 128Mi
            cpu: 100m
          limits:
            memory: 256Mi
            cpu: 200m

  destination:
    server: https://kubernetes.default.svc
    namespace: apps

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: kubewall
  namespace: apps
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  parentRefs:
    - name: main-gateway
      namespace: traefik
      sectionName: https
  hostnames:
    - "kubewall.{{ .Values.domain }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: kubewall
          port: 8443
