{{- if .Values.redis.enabled }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: redis
    targetRevision: 24.1.2
    helm:
      releaseName: redis
      values: |
        architecture: standalone

        auth:
          enabled: false

        master:
          persistence:
            enabled: false

          resources:
            requests:
              memory: 256Mi
              cpu: 100m
            limits:
              memory: 512Mi
              cpu: 500m

        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
            namespace: database
            labels:
              prometheus: kube-prometheus

  destination:
    server: https://kubernetes.default.svc
    namespace: database

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
{{- end }}
