---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: zitadel
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.zitadel.com
    chart: zitadel
    targetRevision: 9.17.0
    helm:
      releaseName: zitadel
      values: |
        zitadel:
          masterkeySecretName: zitadel-master-key
          configmapConfig:
            ExternalSecure: true
            ExternalDomain: zitadel.{{ .Values.domain }}
            TLS:
              Enabled: false
            Database:
              Postgres:
                MaxOpenConns: 20
                MaxIdleConns: 10
                MaxConnLifetime: 30m
                MaxConnIdleTime: 5m
                User:
                  SSL:
                    Mode: disable
                Admin:
                  Username: postgres
                  SSL:
                    Mode: disable
            FirstInstance:
              InstanceName: ZITADEL
              DefaultLanguage: zh
              Org:
                Name: ZITADEL
                Human:
                  UserName: admin
                  FirstName: ZITADEL
                  LastName: Admin
                  Email:
                    Address: admin@{{ .Values.domain }}
                    Verified: true
                  PreferredLanguage: zh
                  PasswordChangeRequired: false
                Machine:
                  Machine:
                    Username: 'zitadel-machine-iam-admin'
                LoginClient:
                  Machine:
                    Username: 'zitadel-machine-login-client'
        login:
          service:
            appProtocol: http
        env:
          - name: ZITADEL_DATABASE_POSTGRES_HOST
            valueFrom:
              secretKeyRef:
                name: zitadel-db
                key: host
          - name: ZITADEL_DATABASE_POSTGRES_PORT
            valueFrom:
              secretKeyRef:
                name: zitadel-db
                key: port
          - name: ZITADEL_DATABASE_POSTGRES_DATABASE
            valueFrom:
              secretKeyRef:
                name: zitadel-db
                key: database
          - name: ZITADEL_DATABASE_POSTGRES_USER_USERNAME
            valueFrom:
              secretKeyRef:
                name: zitadel-db
                key: username
          - name: ZITADEL_DATABASE_POSTGRES_USER_PASSWORD
            valueFrom:
              secretKeyRef:
                name: zitadel-db
                key: password
          - name: ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME
            valueFrom:
              secretKeyRef:
                name: postgresql
                key: postgres-username
          - name: ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgresql
                key: postgres-password
          - name: ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: zitadel-default-human
                key: password
          - name: ZITADEL_DEFAULTINSTANCE_PASSWORDCOMPLEXITYPOLICY_MINLENGTH
            value: 8
          - name: ZITADEL_DEFAULTINSTANCE_PASSWORDCOMPLEXITYPOLICY_HASLOWERCASE
            value: true
          - name: ZITADEL_DEFAULTINSTANCE_PASSWORDCOMPLEXITYPOLICY_HASUPPERCASE
            value: false
          - name: ZITADEL_DEFAULTINSTANCE_PASSWORDCOMPLEXITYPOLICY_HASNUMBER
            value: true
          - name: ZITADEL_DEFAULTINSTANCE_PASSWORDCOMPLEXITYPOLICY_HASSYMBOL
            value: false

  destination:
    server: https://kubernetes.default.svc
    namespace: apps

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: zitadel
  namespace: apps
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  parentRefs:
    - name: main-gateway
      namespace: traefik
      sectionName: https
  hostnames:
    - "zitadel.{{ .Values.domain }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /ui/v2/login
      filters:
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: secure-chain
      backendRefs:
        - name: zitadel-login
          port: 3000
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: ExtensionRef
          extensionRef:
            group: traefik.io
            kind: Middleware
            name: secure-chain
      backendRefs:
        - name: zitadel
          port: 8080

# https://github.com/zitadel/zitadel/issues/10712#issuecomment-3738100159